.banner-end {
	position: absolute;
	left: 0;
	bottom: 93px;

	width: 100%;
	padding: 12px 48px;

	border-radius: 8px;
	background: rgba(1, 22, 39, 0.84);
	box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;

	color: #43D9AD;
	text-align: center;
	font-size: 24px;

	opacity: 0;
	transition: .3s all;
	&.active {
		opacity: 1;
	}
}

.btn-end {
	position: absolute;
	bottom: 55px;
	left: 50%;
	transform: translateX(-50%);

	color: #607B96;
	text-align: center;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0);

	opacity: 0;
	transition: .3s all;
	cursor: pointer;
	&:hover {
		color: #43D9AD;
	}
	&.active {
		opacity: 1;
	}
}