.game {
	position: relative;
	width: 510px;
	min-height: 475px;

	padding: 35px 30px 35px 30px;

	display: grid;
	grid-template: 144px auto / repeat(2, auto);
	gap: 20px 24px;

	border-radius: 8px;
	border: 1px solid #0C1616;
	background: linear-gradient(150deg, rgba(23, 85, 83, 0.70) 1.7%, rgba(67, 217, 173, 0.09) 81.82%);
	box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.30) inset;
	backdrop-filter: blur(32px);
	&__bolt {
		position: absolute;
		&_up-left {
			top: 12px;
			left: 12px;
		}
		&_up-right {
			top: 12px;
			right: 12px;
		}
		&_down-left {
			bottom: 12px;
			left: 12px;
		}
		&_down-right {
			bottom: 12px;
			right: 12px;
		}
	}
}

.arrows {
	padding: 16px 13px 12px;
	max-width: 185px;

	border-radius: 8px;
	background: rgba(1, 20, 35, 0.19);
	&__text {
		margin-bottom: 16px;
	}
	&__inner {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		gap: 4px;
	}
	&__arrow {
		cursor: pointer;
		&_top {
			grid-column: 2 / 3;
		}
		&:not(&_top) {
			grid-row: 2 / 3;
		}
	}
}

.food {
	margin-left: 13px;
	&__text {
		margin-bottom: 11px;
	}
	&__inner {
		display: grid;
		grid-template: repeat(2, auto) / repeat(5, auto);
		justify-content: start;
		gap: 7px;
	}
	&__img {
		opacity: 0.3;

		transition: .5s opacity;
		&.eaten {
			opacity: 1;
		}
	}
}

.game__field {
	position: relative;

	grid-row: 1 / 3;
}

.canvas {
	border-radius: 8px;
	background: rgba(1, 22, 39, 0.84);
	box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
}

@media (max-width: 576px) {
	.game {
		grid-template: auto / auto;
		justify-content: center;
	}
	.arrows {
		max-width: unset;
		&__text {
			margin-bottom: 0;
		}
	}
}