@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import './startMode.scss';
@import './endMode.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Fira Code', monospace;
}

:root {

	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background: linear-gradient(150deg, rgba(23, 85, 83, 0.70) 1.7%, rgba(67, 217, 173, 0.09) 81.82%);
	box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.30) inset;
	backdrop-filter: blur(32px);
}

.text {
	color: #FFF;
	font-size: 14px;
}